doctype html
html(lang="ru")
  head
    title Вход
    link(rel='icon', href='/images/favicon.ico', type='image/x-icon')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    script(src='/javascripts/libs.min.js')
    script(src='/javascripts/index.js')
  body
    #auth_buttons
      button(type='button', class='cube_button', onclick='onAdmClick()') Войти