:host /deep/ h1 {
  font-family: 'IBM Plex Serif', serif;
}

:host body {
  background: #ECEAEA;
  color: #A5A3A6;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'IBM Plex Serif', serif;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

#pageH{
  font-size: 30px;
  color: #5e5d5d;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}

table{
  width:120%;
  table-layout: fixed;
}

.tbl-header{
  background-color: #c4c0c0;
}

.tbl-content{
  margin-top: 0px;
  border: 1px solid rgba(83, 82, 82, 0.3);
}

th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 15px;
  color: #100f0f;
  text-transform: uppercase;
}

td{
  padding: 5px 15px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}

button {
  background: rgba(0,0,0,0);
  border: 2px solid #8d9a97;
  color: #8d9a97;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 8px 15px;
  margin: 20px;
  font-weight: bold;
  font-size: 0.85em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button:hover,
button:active {
  border: 2px solid #4b5f5a;
  color: #4b5f5a;
  outline: none;
}

button:focus {
  outline: none;
}

.alert {
  padding: 20px;
  background-color: #e7d8e8;
  color: #3c3c3c;
}

