extends layout

block content
    div(class='row')
        div(class='col')
        div(class='col', id='library-entrance')
            button(type='button', class='entranceBtn', onclick='window.location.href = "library"') Войти в библиотеку
        div(class='col')